html, body, #root {
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.global-app {
    width: 100%;
    max-width: 900px;
    padding: 30px 20px;
    margin: auto;
    box-sizing: border-box;
}

.App {
    width: 100%;
    display: flex;
}

.container{
    width: calc(100% - 250px);
    border: 1px solid black;
    box-sizing: border-box;
}

button {
    outline:0;
}

input {
    border-radius: 0px;
}