html, body, #root {
    min-height: 100%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

.global-app {
    width: 800px;
    margin: 50px auto;
    box-sizing: border-box;
}

.App {
    width: 800px;
    display: flex;
}

.container{
    width: 550px;
    border: 1px solid black;
    box-sizing: border-box;
}

button {
    outline:0;
}