/* iPhone */
@media only screen and (max-width: 650px) {
    * { width: 100% !important }
    .App { flex-direction: column }
    .global-app { padding: 0px }
    .sidebar { border-bottom: none; border-right:1px solid black }
    .post{ padding:15px 10px !important}
    .postButtons { width: 70px !important }
    .icon-color { width: 30px !important }
}