/*
container
*/

.container ul {
    margin: 0px;
    padding: 0px;
}

.emptyPosts{
    text-align: center;
    font-size: 20px;
}

.emptyPosts img {
    width: 100%;
}

.post {
    /* border:1px solid red; */
    border-top: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.post:nth-child(1){
    border-top: none;
}

.post button {
    border: none;
}


/*
post-header
*/

.post-header, .post-footer {
    /* border: 1px solid blue; */
    width:100%;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* border: 1px solid green; */
}

.post-header h3 {
    text-transform: capitalize;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

.like, .comments {
    /* display: flex; */
    /* align-items: center; */
    margin: 0px;
    padding: 0px;
    opacity: 0.3;
    background: none;
    display: flex;
    align-items: center;
}

.like label {
    font-size: 16px;
}

.heart, .commentbox {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}


.post-header h3, p.date {
    color: rgb(150, 150, 150);
}

.info-name{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-color {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
}

.like-comment-icons{
    display: flex;
    align-items: center;
}

.comments {
    cursor: pointer;
}

.commentbox {
    margin-right: 10px;
    width: 18px;
    height: 18px;
}


/*
post-body
*/

.post-body {
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
    word-wrap: break-word;
}

.hashtag {
    border: none;
    background:  #e4e4e4;
    color: #929292;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
}


/*
post-footer
*/


.date-comments {
    display: flex;
    color: rgb(150, 150, 150);
    font-size: 14px;
}

p.date, .delete {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.delete {
    text-align: right;
    border: none;
    background: none;
    color: red;
    cursor: pointer;
}