/*
container
*/

.container ul {
    margin: 0px;
    padding: 0px;
}

.emptyPosts{
    text-align: center;
    font-size: 20px;
}

.emptyPosts img {
    width: 100%;
}

.post {
    /* border:1px solid red; */
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.post:nth-child(1){
    border-top: none;
}


/*
inside the post
*/

.info {
    /* border: 1px solid blue; */
    width:100%;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-right: 20px;
}

.info h3 {
    text-transform: capitalize;
    font-weight: normal;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

.info h3, p.date {
    color: rgb(150, 150, 150);
}

.info p.text{
    font-size: 20px;
    line-height: 30px;
    margin: 0px;
    padding: 10px 0px;
}

.info button {
    border: none;
    background:  #e4e4e4;
    color: #929292;
    font-size: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0px 5px;
}

p.date, .delete {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.delete {
    color: red;
    cursor: pointer;
}

.info-name{
    display: flex;
    align-items: center;
}

.icon-color {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-right: 10px;
}



/*
like and delete button
*/

.postButtons {
    /* border: 1px solid blue; */
    width: 35px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postButtons button {
    text-align: right;
    border: none;
    background: none;
}

.like {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35px;
    margin: 0px;
    padding: 0px;
    opacity: 0.3;
}

.like label {
    padding-top: 3px;
    font-size: 16px;
}

.heart {
    width: 20px;
    height: 20px;
}