.submit {
    background: #ffebb1;
}

.registerForm input, .btns button{
    box-sizing: border-box;
    padding: 30px;
    border: none;
    border-top:1px solid black;
    font-size: 20px;
    display: block;
    width: 100%;
    margin: 0px;
}

.registerForm input:nth-child(1){
    border-top: none;
}

.color-btns {
    width: 100%;
    font-size: 20px;
    border-top: 1px solid black;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.color-btns-label {
    width: 100%;
    padding: 0px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.color-btns-label p{
    padding: 0px 0px 0px 30px;
    box-sizing: border-box;
    margin: 0px;
    color: black;
}

.color-btns-choices {
    width: 75%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-right: 1px solid white;
}

.selected {
    border-bottom: 5px solid red !important;
}

.twitter-picker {
    box-shadow: none !important;
    overflow: hidden;
}
.twitter-picker input {
    padding: 1px 0px 1px 8px;
}