.registerForm input, .btns button{
    box-sizing: border-box;
    padding: 30px;
    border: none;
    border-top:1px solid black;
    font-size: 20px;
    display: block;
    width: 100%;
}
.registerForm input:nth-child(1){
    border-top: none;
}

.color-btns {
    width: 100%;
    font-size: 20px;
    border-top: 1px solid black;
    color: gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}
.color-btns-label {
    width: 100%;
    padding: 30px 0px;
    padding-right: 0px;
    box-sizing: border-box;
}

.color-btns-label p{
    padding: 0px 0px 0px 30px;
    margin: 0px;
}

.color-btns-choices {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    border-right: 1px solid white;
}
.color-btns-choices button {
    width: 100%;
    border: none;
    border-left: 1px solid black;
    margin: 0px;
}

.color-btns-choices button:nth-child(1) {
    background: #FFDAC5;
}
.color-btns-choices button:nth-child(2) {
    background: #C5FFD1;
}
.color-btns-choices button:nth-child(3) {
    background: #C5DCFF;
}
.color-btns-choices button:nth-child(4) {
    background: #F0C5FF;
}

.selected {
    border-bottom: 5px solid red !important;
}