

.sidebar {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: fit-content;
    border: 1px solid black;
    border-right: none;
}

.profile {
    width: 100%;
    cursor: pointer;
}


.profile-name {
    padding: 30px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    box-sizing: border-box;
}

.sidebar {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.sidebar button, .page-label {
    background: none;
    border: none;
    border-top: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 30px;
    font-size: 20px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0px;
}

.sidebar form {
    width: 100%;
}

.sidebar input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    border: none;
    background: #ffebb1;
    color: #b78d11;
    border-top: 1px solid black;
}

.page-label {
    cursor: auto;
    border-top: none;
    text-transform: capitalize;
}

.login-btn{
    border-top: none !important;
}

