.App {
    width: 800px;
    margin: auto;
}

h3 {
    text-transform: capitalize;
}

.loginForm {
    padding: 20px 50px;
}

.loginForm input {
    margin: 30px;
}

.registerForm {
    padding: 20px 50px;
}

.registerForm input {
    display: block;
    margin: 10px;
}